html {
  padding-left: 400px;
  padding-right: 400px;
}
.request-help-form {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 400px;
  padding-right: 400px;
  max-width: 500px;
  border: 2px solid black;
}
label {
  display: block;
}
input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 7px;
  margin-bottom: 10px;
}

.radio-label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

#yes,
#no {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

.radio-div {
  padding-bottom: 12px;
}

.child-info-div {
  padding-bottom: 12px;
}

.change-fields {
  padding-bottom: 12px;
}
