html {
  padding-left: 400px;
  padding-right: 400px;
}
.request-help-form {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 400px;
  padding-right: 400px;
  max-width: 500px;
  border: 2px solid black;
}
label {
  display: block;
}
input {
  display: block;
  width: 100%;
}
